<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Welcome to <%= title %>!</h1>
  <table>
  <tr>
    <th>Personal Info</th>
  </tr>
  <tr>
    <td>Name</td>
  </tr>
  <tr>
    <td>Sean Warner Dean T. Datu</td>
  </tr>
  <tr>
    <td>Phone Number</td>
  </tr>
  <tr>
    <td>+639959727587</td>
  </tr>
  <tr>
    <td>Age</td>
  </tr>
  <tr>
    <td>20</td>
  </tr>
  <tr>
    <td>Hobbies</td>
  </tr>
  <tr>
    <td>Playing Video Games and Sleeping</td>
  </tr>
</table>

</body>
</html>